/* yellow */
.text1{
    -fx-text-fill: rgb(245, 204, 59);
}

/* purple */
.text2{
    -fx-text-fill: rgb(111, 46, 136);
}

/* white */
.text3{
    -fx-text-fill: rgb(255, 255, 255);
}

.text4{
    -fx-text-fill: rgb(0, 12, 48);
    -fx-font-family: "Calibri Bold";
    -fx-font-size: 64px;
}

.text5{
    -fx-text-fill: rgb(255, 255, 255);
}

.text6{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Calibri Bold";
    -fx-font-size:  26px;
}

.text7{
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-family: "Calibri Bold";
    -fx-font-size:  46px;
}

.yellowText{
    -fx-text-fill: rgb(245, 204, 59);
}

.topicPane{
    -fx-background-color:  #740054; 
    -fx-background-radius:  0 0 100 0;
}

.homeBtn
{
    -fx-background: transparent;
    -fx-background-color: transparent
}
.homeBtn:hover
{
    -fx-background-color : rgb(32, 32, 32, 0.5);
}
.homeBtn:pressed
{
    -fx-background-color : rgb(32, 32, 32, 0.5);
}

.partitionPane{
    -fx-background-color: #E250E9;
}

.btn1
{
    -fx-background-color : linear-gradient(to bottom right, #001348, #000A28);
    -fx-background-radius :  20 20 20 20;
}
.btn1:hover
{
    -fx-background-color : #000C30;
    -fx-background-radius :  20 20 20 20;
}
.btn1:pressed
{
    -fx-background-color : #000C30;
    -fx-background-radius :  20 20 20 20;
}

.menuBtn
{
    -fx-background: transparent;
    -fx-background-color: transparent
}
.menuBtn:hover
{
    -fx-background-color : rgb(32, 32, 32, 0.5);
    -fx-background-radius : 100 0 0 100;
}
.menuBtn:pressed
{
    -fx-background-color : rgb(32, 32, 32, 0.5);
    -fx-background-radius : 100 0 0 100;
}

.adminWorkBtn
{
    -fx-background-color : linear-gradient(to bottom right, #ED0B4D, #740054);
    -fx-background-radius : 100 0 0 100;
}

.officerWorkBtn
{
    -fx-background-color : linear-gradient(to bottom right, #9DC668, #1DB388);
    -fx-background-radius : 100 0 0 100;
}

.residentWorkBtn
{
    -fx-background-color : linear-gradient(to bottom right, #F5CC3B, #EF811A);
    -fx-background-radius : 100 0 0 100;
}

.menuPane{
    -fx-background-color : #001348
}

.vbox{
    -fx-background-color : linear-gradient(to bottom left, #E8097E, #1371C7);
}

/* home */
.homePane
{
    -fx-background-image : url("/IconAndLogo/abstract/absHome.jpg");
}


/* info */
.infoPane{
    -fx-background-color : linear-gradient(to bottom left, #E8097E, #1371C7);
}

.showBtn
{
    -fx-background-color : linear-gradient(to bottom right, #F5CC3B, #EF811A);
    -fx-background-radius :  20 20 20 20;
}
.showBtn:hover
{
    -fx-background-color : #9F5611;
    -fx-background-radius :  20 20 20 20;
}
.showBtn:pressed
{
    -fx-background-color : #6A390B;
    -fx-background-radius :  20 20 20 20;
}

.confirmButton
{
    -fx-background-color : linear-gradient(to bottom right, #E6DB28, #30C73E);
    -fx-background-radius :  20 20 20 20;
}
.confirmButton:hover
{
    -fx-background-color : linear-gradient(to bottom right, #99921A, #208429);
    -fx-background-radius :  20 20 20 20;
}
.confirmButton:pressed
{
    -fx-background-color : #104214 ;
    -fx-background-radius :  20 20 20 20;
}

.cancelButton
{
    -fx-background-color : linear-gradient(to bottom right, #EC0517, #861C1C);
    -fx-background-radius :  20 20 20 20;
}
.cancelButton:hover
{
    -fx-background-color : linear-gradient(to bottom right, #9D030F, #591212);
    -fx-background-radius :  20 20 20 20;
}
.cancelButton:pressed
{
    -fx-background-color : #340105 ;
    -fx-background-radius :  20 20 20 20;
}

.smallPane{
    -fx-background-color : linear-gradient(to bottom left, #20B5C3, #002993);
}

/* home */
#residentBtn
{
    -fx-background-color : linear-gradient(to bottom right, #FDC730, #F37235);
    -fx-background-radius :  20 20 20 20;
}
#residentBtn:hover
{
    -fx-background-color : #A24C23;
    -fx-background-radius :  20 20 20 20;
}
#residentBtn:pressed
{
    -fx-background-color : #6C3217;
    -fx-background-radius :  20 20 20 20;
}

#officerBtn
{
    -fx-background-color : linear-gradient(to bottom right, #00FEED, #04BBBD);
    -fx-background-radius :  20 20 20 20;
}
#officerBtn:hover
{
    -fx-background-color : #027C7E;
    -fx-background-radius :  20 20 20 20;
}
#officerBtn:pressed
{
    -fx-background-color : #015254;
    -fx-background-radius :  20 20 20 20;
}

#adminBtn
{
    -fx-background-color : linear-gradient(to bottom right, #F77594, #613AA2);
    -fx-background-radius :  20 20 20 20;
}
#adminBtn:hover
{
    -fx-background-color : #40266C;
    -fx-background-radius :  20 20 20 20;
}
#adminBtn:pressed
{
    -fx-background-color : #2A1948;
    -fx-background-radius :  20 20 20 20;
}
